// Primary

$dark-Blue-intro: hsl(217, 27%, 15%); // (intro and email sign up background)
$dark-Blue-background: hsl(218, 28%, 13%); // (main background)
$dark-Blue-footer: hsl(216, 53%, 9%); // (footer background)
$dark-Blue-testimonials: hsl(219, 30%, 18%); //(testimonials background)

// Accent

$cyan: #65e2d9;  // (inside call-to-action gradient)
$blue: #339ecc; // (inside call-to-action gradient)
$light-Red: hsl(0, 100%, 63%); // (error)

// Neutral

$white: hsl(0, 0%, 100%);
$light-white: hsl(0, 0%, 80%);